.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.card{
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
  padding: 2rem;
}