@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');



.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.card{
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.75);
  padding: 3rem;
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
}